<h1 style="text-align:center"> <%= @current_user.name %>'s Favorites </h1>

<ol>
    <% @current_user.favorites.each do |fav| %>
        <li>
            <%= link_to fav.article.title, favorite_path(fav), {:style=>'color:#000000;', :class => "css_class"} %>
        </li>
    <% end %>
</ol>


<%= button_to "Add Favorites", new_favorite_path, method: :get %>
