<h1 style="text-align:center"> <%= @current_user.name %>' Favorites </h1>

<ol>
    <% @current_user.favorites.each do |fav| %>
        <li>
            <%= fav.article.title %>
        </li>
    <% end %>
</ol>


