<h1> <%= @current_user.name %> </h1>
<p>Find me in app/views/users/show.html.erb</p>

<% @current_user.interests.each do |interest| %>
<p> <%= interest.topic %> </p>
<% end %>

<ul>
<% @current_user.interested_topics.map do |art| %> 
<li> <%= art.title %> </li>
<% end %>
</ul>

