<br>
<h1 style="text-align:center"> <%= @current_user.name %>'s Interests </h1>

<ol>
    <% @current_user.user_interests.each do |user_interest| %>
        <li>
            <%= link_to user_interest.interest.topic, user_interest_path(user_interest) %>
        </li>
    <% end %>
</ol>

<%= button_to "Add Interests", new_user_interest_path, method: :get %>

