/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.

 
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.button1{
background: white;
width: 125px;
font-size: 10pt;
color: black;
font-weight: 700;
border-radius: 30px;
border: 2px solid gray;
transition: 1s;
}

.button1:hover{
    transform: scale(1.1);
    border: none;
    background-color: black;
    color: white;
    transition: 1s;
    }

table {
border-collapse: separate;
border-spacing: 0px 10px;
}

th {
color: black;
}

th,
td {
text-align: center;
padding: 15px;
}

nav {
    display: block;
  }

.navbar-inverse {
background: rgb(209, 207, 207);
}

header, footer {
    background-color: lightgray;
    border: solid 1px black;
  }

  header nav {
    float: right;
    margin-right: 5px;
  }
  
  header nav li {
    display: inline;
    font-size: 12px;
  }     

  
  div.nav-horizontal {
    background-color: darkgrey;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
  }

  div.nav-horizontal a { 
    text-decoration: none;
    color: black(177, 10, 10);
    padding: 10px 20px;
  }

  div.nav-horizontal a:hover {
    background-color: whitesmoke;
    transition: 1s;
  }

  div.centered-highlight table {
    color: blue;
  }